.App {
}

.header-div {
  background-color: #333333;
  color: #fff;
  text-align: center;
}

.container {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}
